# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Temporary uploads
static/uploads/temp/*

# User voice profiles
static/uploads/profiles/*

# Generated speech
static/generated/*

# Keep empty folders
!static/uploads/temp/.gitkeep
!static/uploads/profiles/.gitkeep
!static/generated/.gitkeep

# Database
database/voice_profiles.json